/* 半透明边框 */
.body {
    height: 14rem;
    width: 24rem;
    padding: 3rem;
    background-color: #6a8bad;
}

.demo01 {
    height: 12rem;
    width: 22rem;
    font-size: 1.4rem;
    border: 10px solid hsla(0, 0%, 100%, .5);
    background-color: #ffffff;
}

.demo02 {
    height: 12rem;
    width: 22rem;
    border: 1rem dashed #6C5956;
    background-color: #6a8bad;
}

.demo03 {
    height: 12rem;
    width: 22rem;
    font-size: 1.4rem;
    border: 1rem solid hsla(0, 0%, 100%, .5);
    background-clip: padding-box;
    background-color: #ffffff;
}
