html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

/* a 标签去除下划线 */
a {
    text-decoration: none;
}

/* 去除 outline */
:focus {
    outline: none;
}


/* 统一规定宽度 */
.container {
    width: 120rem;
    margin: 0 auto;
}

/* 去除浮动 clearfix */
.clearfix:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

